*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #FAFAFA;
}

    h2 {
        color: #4D4F62;
        font-size: 24px;
        font-weight: 275;
        line-height: 36px;
        text-align: center;
        margin-top: 85px;
    }
    h2 span {
        font-weight:600;
    }
    .description {
        color: #4D4F62;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        width: 286px ;
        text-align: center;
        margin: 14px auto 76px ;
    }
    .cards-container {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 78px;
    }
    .card{
        width: 310px;
        height: 222px;
        background-color: #ffffff;
        border-radius: 8px;
        margin-bottom: 24px;
        box-shadow: 0px 15px 30px -11px #83a6d280;
    }
    .lightBlue-card{
        border-top: 4px solid #44D3D2;
    }
    .red-card{
        border-top: 4px solid #EA5454;
    }
    .yellow-card{
        border-top: 4px solid #FCAE4A;
    }
    .blue-card{
        border-top: 4px solid #549EF2;
    }
    h3 {
        color: #4D4F62;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        margin: 28px 0 2px 28px;
    }
    .cards-text{
        color: #4D4F62;
        font-size: 13px;
        font-weight: 400;
        line-height: 23px;
        margin: 0 28px 34px 28px;
        width: 254px;
    }
    .img-box{
        width: 58px;
        height: 58px;
        margin-left: 226px;
    }

@media only screen and (min-width: 1440px) {
    h2 {
         font-size: 36px;
         line-height: 54px;
    }
    .description {
        width: 460px;
        line-height: 25px;
    }
    .card{
        width: 350px;
        height: 250px;
    }
    h3 {
        margin: 32px 0 6px 32px;
    }
    .cards-text{
        margin: 0 32px 40px 32px;
    }
    .img-box{
        width: 64px;
        height: 64px;
        margin-left: 254px;
    } 
    .middle-box{
        margin: 0 30px 0 30px;
    }
    .cards-container {
        flex-direction: row;
        justify-content: center;
    }
}
